.DS_Store
examples/.ipynb_checkpoints/*
*.pdf
*.svg
*.png
examples/MSE Seminar/*
Untitled.ipynb
Test.ipynb
*.ipynb
Manifest.toml
docs/build/
docs/site/
*.jl.cov
*.jl.*.cov
*.jl.mem
lcov.info
LocalPreferences.toml
*.ipynb
/notebooks
examples/Playground/*
.DS_Store
test/*.csv